{% extends 'base.html.twig' %}

{% block title %}- Personnage {% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-dismissible alert-info">
            {{ message }}
        </div>
    {% endfor %}

<h1>Profil de {{ foreignUser.name }} </h1>

<section class="d-flex">
    <img src="{{ foreignUser.portrait }}" style="width: 256px" class="rounded-circle">
    <ul class="stat-list list-group ml-5">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Dernier sujet actif
            <span class="badge badge-primary badge-light ml-5">
                {% if lastSubject is null %}
                    Aucun
                {% else %}
                    <a style="color:black" href="{{ path('question_read',{'slug': lastSubject.slug } ) }}">{{ lastSubject.title }}</a>
                {% endif %}
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Questions posées
            <span class="badge badge-primary badge-light ml-5">{{ userQuestionsCount }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Réponses apportées
            <span class="badge badge-primary badge-light ml-5">{{ userAnswersCount }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nombre de like donnés
            <span class="badge badge-primary badge-light ml-5"> {{ userGivenLikes }} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nombre de like reçus
            <span class="badge badge-primary badge-light ml-5"> {{ userReceivedLikes }} </span>
        </li>
        {# <li class="list-group-item d-flex justify-content-between align-items-center">
            Titre
            <span class="badge badge-primary badge-light ml-5"> (placeholder) Encyclopédie Jove </span>
        </li> #}
    </ul>
</section>

{% endblock %}