{% extends 'base.html.twig' %}

{% block title %}- Personnage {% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-dismissible alert-info">
            {{ message }}
        </div>
    {% endfor %}

<h1>Bienvenue {{ app.user.name }} </h1>
<img src="{{ app.user.portrait }}">


<section class="favorite-waypoint mt-3">

    <form class="solar-system-form form-group my-2 my-lg-0" action="" method="POST">
        <label for="search-solar-system">Ajouter un système solaire</label>
        <input id="search-solar-system" class="form-control mr-sm-2 component-solar-system-search" type="text" placeholder="Système Solaire">
        <button type="submit" class="mt-2 btn btn-primary">Rechercher</button>
    </form>

    <div class"solar-system-board">
        <ul class="solar-system-list">

        </ul>
    </div>

</section>


{# ! DEBUG #}
{# {{dump(app.user)}} #}
{# {{ dump(app.session) }} #}
{# {{ dump(app.session.get('accessToken').token) }} #}
{# {{ dump(app.session.get('accessToken').refreshToken) }} #}
{% endblock %}


{% block javascripts %}
<script src="{{ asset('assets/js/source/Component/SolarSystemSearchEngine.js') }}"></script>
<script src="{{ asset('assets/js/source/Model/SolarSystemManager.js') }}"></script>
{% endblock %}
