{% extends 'base.html.twig' %}

{% block title %}- Personnage {% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-dismissible alert-info">
            {{ message }}
        </div>
    {% endfor %}

<h1>Bienvenue {{ app.user.name }} </h1>

<section class="favorite-systems-dashboard">
    <img src="{{ app.user.portrait }}" style="width: 256px" class="rounded-circle">

    <div class="mt-3">
        <h3>Tableau de Navigation</h3>
        <p>Trouver des systèmes solaire à ajouter à votre tableau de navigation avec la fonction de recherche.<br>
        Cliquez sur un système solaire pour définir votre destination in-game</p>
    </div>

    <div class="dashboard-system-list">
        {# <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button>
        <button type="button" class="mt-2 btn btn-primary">Primary</button> #}
    
    </div>
</section>


<section class="favorite-waypoint mt-3">

    <form class="solar-system-form form-group my-2 my-lg-0" action="" method="POST">
        <label for="search-solar-system">Rechercher un système solaire</label>
        <input id="search-solar-system" class="form-control mr-sm-2 component-solar-system-search" type="text" placeholder="3 premières lettres minimum">
        <button type="submit" class="mt-2 btn btn-primary">Rechercher</button>
    </form>

    <div class="solar-system-result">
        <div class="solar-system-result-text"></div>
        <div class="solar-system-list" role="group" aria-label="Basic example"></div>
    </div>

</section>


{# ! DEBUG #}
{# {{dump(app.user)}} #}
{# {{ dump(app.session) }} #}
{# {{ dump(app.session.get('accessToken').token) }} #}
{# {{ dump(app.session.get('accessToken').refreshToken) }} #}
{% endblock %}


{% block javascripts %}
<script src="{{ asset('assets/js/source/Component/FavoriteSolarSystemManager.js') }}"></script>
<script src="{{ asset('assets/js/source/Component/SolarSystemSearchEngine.js') }}"></script>
<script src="{{ asset('assets/js/source/Component/InGameSetDestination.js') }}"></script>
<script src="{{ asset('assets/js/source/Model/SolarSystem.js') }}"></script>
<script src="{{ asset('assets/js/source/Repository/SolarSystemRepository.js') }}"></script>

{% endblock %}
