{% extends 'base.html.twig' %}

{% block title %}- Questions{% endblock %}

{% block body %}

<h1 class="display-5">Liste des Questions</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Auteur</th>
            <th scope="col">Titre</th>
            <th scope="col">Aperçu</th>
            <th scope="col">Quand</th>
        </tr>
    </thead>
    <tbody>

    {% for question in questions %}
    <tr class="table">
    <th scope="row">{{ question.user.name }}</th>
    <td><a href="{{ path('question_read', {id: question.id}) }}">{{ question.title }}</a></td>
    <td>{{ question.content|slice(0,70) }} ...</td>
    <td>{{ question.createdAt|date("H:i \\l\\e d/m/Y") }}</td>
    </tr>
    {% endfor %}
    
    </tbody>
</table> 


{% endblock %}
