{% extends 'base.html.twig' %}

{% block title %}- Questions{% endblock %}

{% block body %}

<h1 class="display-5">Liste des Questions</h1>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 component-question-search-engine" type="text" placeholder="Recherche...">
</form>

<ul class="nav nav-tabs mt-3">

{% for category in categories %}
  <li class="nav-item">
    <a data-category="{{category.id}}" class="nav-link nav-search" data-toggle="tab" href="#">{{category.name}}</a>
  </li>
{% endfor %}

</ul>

{# <input class="component-question-search-engine"></input> #}
{# <div id="search-result"></div> #}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sujet</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Auteur</th>
            {# <th scope="col">Aperçu</th> #}
            <th scope="col">Posté</th>
        </tr>
    </thead>

    <tbody class = "search-result-tbody">
    {% for question in questions %}
    <tr class="table">
        <td><a href="{{ path('question_read_slug', {slug: question.slug}) }}">{{ question.title }}</a></td>
        <td>{{ question.category.name }}</td>
        <td scope="row">{{ question.user.name }}</td>
        {# <td>{{ question.content|slice(0,60) }} ...</td> #}
        <td>{{ question.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table> 


{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/source/Model/Question.js') }}"></script>
<script src="{{ asset('assets/js/source/Model/QuestionManager.js') }}"></script>
<script src="{{ asset('assets/js/source/Component/QuestionSearchEngine.js') }}"></script>
<script src="{{ asset('assets/js/source/Component/QuestionDisplayByCategory.js') }}"></script>
{% endblock %}
