{% extends 'base.html.twig' %}

{% block title %} - {{ question.title }} {% endblock %}

{% block body %}
    <h2 class="text-center">{{ question.title }}</h2>

    <div class="d-flex mb-3">
        <img style="width: 128px" class="rounded-circle" src="{{ question.user.portrait }}" alt="Portrait de l'auteur de la question: {{ question.user.name }}">
        <div class="d-flex">
            <p class="align-self-center m-3">{{ question.content }}</p>
        </div>
    </div>
        
        {{ form_start(form) }}
        {{ form_end(form) }}

    {% for answer in question.answer %}
    
    <div class="border-bottom border-dark mt-3">
        <img style="width: 64px" class="rounded-circle" src="{{ answer.user.portrait }}" alt="Portrait de l'auteur de la réponse: {{ answer.user.name }}"> 
        <p>{{answer.createdAt|date("m:i \\l\\e d/m/Y") }}</p>
        <p>{{answer.content}}</p>
    </div>

    {% endfor %}
    

{% endblock %}
