{% extends 'base.html.twig' %}

{% block title %} - {{ question.title }} {% endblock %}

{% block body %}
    <h2 class="text-center">{{ question.title }}</h2>

    <div class="mb-3">
        <div>
            <img style="width: 128px" class="rounded-circle" src="{{ question.user.portrait }}" alt="Portrait de l'auteur de la question: {{ question.user.name }}">
            <p>{{question.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}</p>
        </div>
        <p class="align-self-center m-3">{{ question.content|raw }}</p>

    </div>
    {% if app.user is not null %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}

    {% for answer in question.answer|reverse %}
    
    <div class="border-bottom border-dark mt-3">
        <img style="width: 64px" class="rounded-circle" src="{{ answer.user.portrait }}" alt="Portrait de l'auteur de la réponse: {{ answer.user.name }}"> 
        <span>{{answer.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}</span>
        <p>{{answer.content|raw}}</p>
    </div>

    {% endfor %}
    

{% endblock %}
