{% extends 'base.html.twig' %}

{% block title %} - {{ question.title }} {% endblock %}

{% block body %}
    <h2 class="text-center">{{ question.title }}</h2>

    <div class="mb-3">
        <div class="twig-raw">
            <img style="width: 128px" class="rounded-circle" src="{{ question.user.portrait }}" alt="Portrait de l'auteur de la question: {{ question.user.name }}">
            <p> {{question.user.name}} le {{question.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}</p>
            <p class="align-self-center">{{ question.content|raw }}</p>
            
            {% if app.user == question.user and question.isClosed != true %}
            {# <button class="btn-primary btn"><a style="text-decoration: none" href="{{ path('question_edit', {slug:question.slug}) }}">Editer</a></button> #}
            <a class="btn-primary btn" style="text-decoration: none" href="{{ path('question_edit', {slug:question.slug}) }}">Editer</a>
            {% endif %}

        </div>

    </div>
    {% if app.user is not null and form is defined %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% else %}
        <button type="button" class="btn btn-primary mb-3">Sujet fermé <i class="fas fa-lock"></i></button>
    {% endif %}

    {% for answer in question.answer %}
    
    <div class="twig-raw border-bottom border-dark mb-3">
        <img style="width: 64px" class="rounded-circle" src="{{ answer.user.portrait }}" alt="Portrait de l'auteur de la réponse: {{ answer.user.name }}">
        <span> {{ answer.user.name }} <br> {{answer.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}</span>
        <p>{{answer.content|raw}}</p>

        {# ! Likes #}

        {% if app.user is not null %}
            <form method="post" action="{{ path('answer_toggle_like', {id:answer.id}) }}">
                <button type="submit" class="btn btn-sm">
                    <i
                    {% for like in answer.likes %}
                        {% if app.user == like.user %}
                            style="color:green"
                        {% endif %}
                    {% endfor %}
                    class="fas fa-check"></i>
                </button>
            </form>
        {% endif %}
        <span class="badge badge-primary"> Dans le mille </span>
        <span data-answer-id={{ answer.id }} class="badge badge-pill badge-light"> {{ answer.likes|length }} </span>

        {# ! Likes #}


        {% if app.user == answer.user and question.isClosed != true %}
            <a class="btn-primary btn" style="text-decoration: none" href="{{ path('answer_edit', {id:answer.id}) }}">Editer</a>
        {% endif %}

    </div>

    {% endfor %}
    

{% endblock %}
