{% extends 'base.html.twig' %}

{% block title %}- Bienvenue{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-dismissible alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-dismissible alert-warning">
            {{ message }}
        </div>
    {% endfor %}



    <h1 class="display-4">Bienvenue sur Eve Quantum !</h1>
    <p class="lead">Eve Quantum est un site d'entraide destiné aux joueurs francophones d'Eve Online, actuellement en version beta.</p>
    <hr class="my-4">
    <p>L'objectif est de conserver une trace des questions que se posent les joueurs ainsi que leurs réponses qui peuvent être relativement élaborer dans un jeu comme Eve Online.</p>
    <p> Pour en savoir plus à propos du site : <a href="{{path('main_about')}}">c'est ici</a></p>
    <p>Vous avez accès à toutes les discussions sans être connecté. En revanche pour y participer, et utiliser les autres fonctionalités de Eve Quantum, vous devez être connecté. </p>
    <p class="lead">
    
    {% if app.user is null %}
        <a class="btn btn-primary btn-lg" href="{{path('app_login')}}" role="button">Se connecter</a>
        <p class="lead">Besoin d'un compte?</p>
        <p><a target="_blank" href="https://www.eveonline.com/fr/signup?invc=1eaeaece-f3bb-43dd-a21a-2912589ac93d">Lien de parrainage</a></p>
        <p><a target="_blank" href="https://www.eveonline.com/fr/signup">Lien sans parrainage</a></p>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{{ path('question_add') }}" role="button">Poser une question</a>
    {% endif %}
    
    </p>


{% endblock %}

